<nav class="navbar navbar-toggleable-md navbar-light bg-faded  ">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ClientPanel</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  ">
        <a class="nav-link" href="#" routerLink="/">Dashboard  </a>
      </li> 
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item  ">
          <a class="nav-link" href="#" routerLink="/register">register  </a>
        </li> 
        <li class="nav-item  ">
            <a class="nav-link" href="#" routerLink="/login">login  </a>
          </li> 
      </ul>
      
     
  </div>
</div>
</nav>  