<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink="/" class="btn btn-lik">
      <i class="fa fa-arrow-circle-o-left"></i>back to dashboard </a>

  </div>
</div>
<div class="card">
  <div class="card-header">
    Add Client
  </div>
  <div class="card-block">
    <form novalidate #f="ngForm"(ngSubmit)="onSubmit(f)">
      <div class="from-group">
        <label for="firstName">Firs tName</label>
        <input 
        type="text"
        class="form-control"
        [(ngModel)]="client.firstName"
        name="firstName" 
        #clientFirstName="ngModel"
        minlength="2"
        required
        >
        <div *ngIf="clientFirstName.errors?.required && clientFirstName.touched" class="alert alert-danger">
          first name is required
        </div>

        <div *ngIf="clientFirstName.errors?.minlength && clientFirstName.touched" class="alert alert-danger">
            Must be  at least 2 characters
          </div>

      </div>


      <div class="from-group">
          <label for="lasttName">last tName</label>
          <input 
          type="text"
          class="form-control"
          [(ngModel)]="client.lastName"
          name="lastName" 
          #clientlastName="ngModel"
          minlength="2"
          required
          >
          <div *ngIf="clientlastName.errors?.required && clientlastName.touched" class="alert alert-danger">
              last name is required
          </div>
  
          <div *ngIf="clientlastName.errors?.minlength && clientlastName.touched" class="alert alert-danger">
              Must be  at least 2 characters
            </div>
  
        </div>

        <div class="from-group">
            <label for="email">email</label>
            <input 
            type="email"
            class="form-control"
            [(ngModel)]="client.email"
            name="email" 
            #clientemail="ngModel"
            minlength="2"
            required
            >
            <div *ngIf="clientemail.errors?.required && clientemail.touched" class="alert alert-danger">
                email is required
            </div>
              </div>


              <div class="from-group">
                  <label for="lasttName">phone</label>
                  <input 
                  type="text"
                  class="form-control"
                  [(ngModel)]="client.phone"
                  name="phone" 
                  #clientphone="ngModel"
                  minlength="10"
                  required
                  >
            
          
                  <div *ngIf="clientphone.errors?.minlength && clientphone.touched" class="alert alert-danger">
                      Add a valid phone number
                    </div>
          
                </div>

                <div class="from-group">
                    <label for="balance">balance</label>
                    <input 
                    type="number"
                    class="form-control"
                    [(ngModel)]="client.balance"
                    name="balance" 
                    #clientbalance="ngModel"
                    [disabled]="disableBalanceOnAdd"
                    >
              
                  </div>
                  <input type="submit" class="btn btn-primary btn-block" value="submit">
    </form>
  </div>
</div>